/**
 * Created by xxx on 2017-7-6.
 * xxx
 */
NEJ.define([
    'pro/extend/util',
    'pro/components/notify/notify'
], function(_, notify) {
    return function(Comp) {
        Comp.implement({
            getBrands: function() {

            }
        });
    };
});